In [7]:
# encapsulation
# public : can be changes anywhere
# protected : can be used by the parent and the cild class , _name
# private : can be used only inside the parent class , __name

In [8]:
class test():
    
    name = "kiran"

In [9]:
a = test()
a.name

'kiran'

In [10]:
a.name = "kumar"
print(a.name)

kumar

In [11]:
# private

In [12]:
class test():
    
    __name = "kiran"

In [17]:
a  = test()
a.__name

AttributeError: 'test' object has no attribute '__name'

In [15]:
class test():
    
    __name = "kiran"
    
    def display(self):
        print(self.__name)
    
    def change(self,a):
        self.__name = a

In [16]:
a = test()
a.display()

kiran

In [18]:
a.change("test")
a.display()

test

In [19]:
## polymorphism
## method overloading
## method overriding

In [2]:
from abc import ABC , abstractmethod

class parent(ABC):
    
    @abstractmethod
    def area(self):
        pass
    
class square(parent):
    
    def area(self,a):
        print(a*a)

class circle(square):
    
    def area(self,a,b=1):
        print(3.14 * a*a)
        

b = circle()
b.area(2)

4
12.56

In [24]:
def test(a,b,c=1):
    print(a*b*c)
test(2,3)

36

In [25]:
## file handling

In [30]:
## read

file = open(r"C:\Users\DK\demo.txt", "r")
for i in file:
    print(i)

welcome to sundat python class

jahgdas

kjhasdkj

In [28]:
file = open(r"C:\Users\DK\demo.txt", "r")
file = file.read()  #reads as string
print(file)

welcome to sundat python class
jahgdas
kjhasdkj

In [29]:
file = open(r"C:\Users\DK\demo.txt", "r")
file = file.readlines() #reads as a list
print(file)

['welcome to sundat python class\n', 'jahgdas\n', 'kjhasdkj']

In [31]:
# write 
## if not present creates a new file
## if present deletes the existing file and creates a new file

In [34]:
file = open(r"C:\Users\DK\jdjhdgs.txt", "w")

In [35]:
file.write("akjshdjsgfjsg")
file.close()

In [36]:
## apend
## if file present , uses it
## not present , creates a new file

In [37]:
file = open(r"C:\Users\DK\jdjhdgs.txt", "a")
file.write("\kahdjasgfj\nkjgagawjg")
file.close()

In [41]:
## csv

import pandas as pd

data = pd.read_csv("newhousing.csv")

In [42]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,5250000,5500,3,2,1,1,0,1,0,0,0,0,1,0,1833.333333,0.666667
1,4480000,4040,3,1,2,1,0,0,0,0,1,0,1,0,1346.666667,0.333333
2,3570000,3640,2,1,1,1,0,0,0,0,0,0,0,1,1820.000000,0.500000
3,2870000,3040,2,1,1,0,0,0,0,0,0,0,0,1,1520.000000,0.500000
4,3570000,4500,2,1,1,0,0,0,0,0,0,0,0,0,2250.000000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,4403000,4880,3,1,1,1,0,0,0,0,2,1,0,1,1626.666667,0.333333
541,2660000,2000,2,1,2,1,0,0,0,0,0,0,1,0,1000.000000,0.500000
542,4480000,8250,3,1,1,1,0,0,0,0,0,0,0,0,2750.000000,0.333333
543,5110000,11410,2,1,2,1,0,0,0,0,0,1,0,0,5705.000000,0.500000
544,4410000,3968,3,1,2,0,0,0,0,0,0,0,1,0,1322.666667,0.333333

In [43]:
data.describe()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.858716,0.177982,0.350459,0.045872,0.315596,0.693578,0.234862,0.416514,0.326606,1819.852599,0.446361
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.348635,0.382849,0.477552,0.209399,0.465180,0.861586,0.424302,0.493434,0.469402,839.091825,0.159492
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,381.000000,0.166667
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1237.500000,0.333333
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1666.666667,0.400000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2183.333333,0.500000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,6600.000000,1.000000

In [44]:
data['area']

0       5500
1       4040
2       3640
3       3040
4       4500
       ...
540     4880
541     2000
542     8250
543    11410
544     3968
Name: area, Length: 545, dtype: int64

In [45]:
import pandasql
from pandasql import sqldf

In [57]:
a = sqldf("select area , bedrooms from data ")

In [58]:
a

      area  bedrooms
0     5500         3
1     4040         3
2     3640         2
3     3040         2
4     4500         2
..     ...       ...
540   4880         3
541   2000         2
542   8250         3
543  11410         2
544   3968         3

[545 rows x 2 columns]

In [59]:
a.to_csv("dinesh.csv")